# dependencies
node_modules/

# build files
dist/
client/dist/

# env files
.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*

# temp files
tmp/
tmp_docx/

# logs
*.log
tmp_docx_*

tmp_render_*/